.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.btn {
  border-color: #bb0000;
  color: #fff;
  background-color: #660000;
}

.btn:hover {
    border-color: #bb0000;
    color: #fff;
    background-color: #AA0000;
}
